aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.4.16
py-tgcalls
pytube
wget
python-dotenv
tgcrypto
git+https://github.com/alexmercerind/youtube-search-python@main
speedtest-cli
cryptography
dnspython
future
hurry.filesize
motor
psutil
pykeyboard
pyromod
pymongo
requests
speedtest-cli
uvloop
youtube_dl
yt-dlp==2021.11.10.1
telegraph
hachoir
lyricsgenius
