aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls
pytube
wget
python-dotenv
search-engine-parser
tgcrypto
git+https://github.com/alexmercerind/youtube-search-python@main
youtube-search
speedtest-cli
cryptography
dnspython
future
hurry.filesize
motor
psutil
pykeyboard
pyromod
requests
speedtest-cli
uvloop
git+https://github.com/yt-dlp/yt-dlp@master
telegraph
hachoir
lyricsgenius
pafy
youtube_dl
yt_dlp
